# Kafka client Python
kafka-python==2.3.1

# Manipulation données
pandas==2.2.3
numpy==2.2.5

# Chargement variables d'environnement
python-dotenv==1.0.0

# Logs colorés (optionnel maais utile)
colorlog==6.8.0